@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 18px;
}

p {
    padding: 0;
    margin: 0;
}


#hero-section{
    color:  #0A2D82;
    font-size: 2rem;
    font-weight: 900;
}

.dsm-surligne{
    position: relative;
}

.dsm-surligne:after{
    content: '';
    background-color: #D3D62E;
    height: 44%;
    position: absolute;
    z-index: -10;
    left: -3%;
    right: -3%;
    bottom: 0;
}

.picto-coeur{
    white-space: nowrap;
}

.picto-coeur img{
    height: 2rem;
    display: inline-flex;
    vertical-align: middle;
}

@media (min-width: 599px) {
    #hero-section{
        font-size: 4rem;
    }

    .picto-coeur img{height: 4rem;}
}

h2{background:red;}

@media (min-width: 899px) {
    #hero-section{
        font-size: 5rem;
    }

    .picto-coeur img{height: 5rem;}
}
